
main {
    display: flex;
    flex-direction: row;
}

nav {
    flex: 0 0 320px;
    background-color: #f5f5f5;
    border-right: 1px solid #e1e1e1;
    padding: 20px
}

section {
    flex: 1;
    padding: 20px;
}