body,
html {
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  line-height: inherit;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  font-size: 0.875rem;
  font-feature-settings: "salt";
}
